/* GLOBAL ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f2f3f5;
  --red-button: #bc0808;
  --blue-button: #2471bf;
  --light-yellow: #f9f7aa;
  --primary-color: #545458;
  --secundary-color: #b12227;
  --gray: #d3d3d3;
}

body {
  margin: 0 auto;
  background: var(--background);
  font-family: "Inter", sans-serif;
  padding: 0 7rem;
}